#footer {
    background: $deepcerulean;
    padding: 52px 0 34px;
    @include media('<=phone') {
        margin: 0 -30px;
        padding: 52px 0 39px;
    }
}

.f-logo {
    width: 351px;
    @include media('>=phone') {
        width: 358px;
    }
    img {
        width: 100%;
    }
}

.social-links {
    @extend %clearfix;
    @extend %listreset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 42px;
    @include media('>=tablet') {
        justify-content: flex-end;   
        margin-top: 0;
    }
    li {
        margin-right: 27px;
        margin-bottom: 0;
        padding: 0;
        @include media('>=tablet') {
            margin-left: 27px;
        }
        a {
            svg {
                fill: $white;
            }
            &:hover {
                svg {
                    transform: translateY(-10px);
                }
            }
        }
    }
}

.f-bottom {
    border-top: 2px solid $white;
    margin-top: 26px;
    padding-top: 24px;
    color: $white;
    font-size: 0.875rem;
    @include media('>=tablet') {
        margin-top: 47px;
        font-size: 1rem;
    }
    .text-right {
        margin-bottom: 0;
        @include media('<=tablet') {
            text-align: left;
            margin-bottom: 24px;
        }
    }
    span {
        display: inline-block;
    }
    a {
        color: $white;
        font-size: 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
}