@font-face {
    font-family: 'Sohne Breit';
    src: url('../fonts/SohneBreit-Fett.woff2') format('woff2'),
        url('../fonts/SohneBreit-Fett.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/077433bbddb2ac9c854047a44f6d764c.woff2') format('woff2'),
        url('../fonts/077433bbddb2ac9c854047a44f6d764c.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

